/* InquiryDetail.css */


.container-question {
    background-color: #ffffff; /* White background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
    padding: 20px;
    margin: 20px;
    border-radius: 10px; /* Border radius for rounded corners */
    position: relative; /* Add relative positioning */
  }
  
  /* Title styling */
  .title {
    text-align: center;
    font-size: 20px;
    color: #FEA92A; /* Yellow color */
  }
  
  /* Details styling */
  .details {
    margin-top: 10px;
  }
  
  /* Writer styling */
  .writer {
    font-weight: bold;
  }
  
  /* Date styling */
  .date {
    position: absolute; /* Absolute positioning */
    top: 10px; /* Move to the top */
    right: 20px; /* Move to the right */
  }
  
 
  .hit {
    position: absolute; 
    bottom: 10px; 
    right: 20px; 
    color: red;
  }
  
  .detail-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 20px;
  }